<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.fortsolution.playerplugin"
      version="0.1.0">
    <name>VideoPlayer</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>Fortsolution</license>
    <keywords>phonegap,video player</keywords>


    <js-module src="www/videoplayer.js" name="VideoPlayer">
        <clobbers target="window.videoplayer" />
    </js-module>
	
	 <js-module src="www/imagezoom.js" name="Imagezoom">
        <clobbers target="window.imagezoom" />
    </js-module>

    <!-- android -->
    <platform name="android">
       <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.fortsolution.playerplugin.VideoPlayer"/>
            </feature>
            <feature name="Imagezoom">
                <param name="android-package" value="com.fortsolution.playerplugin.Imagezoom"/>
            </feature>
        </config-file>

       <!--
       
                <config-file target="res/xml/config.xml" parent="/*">
                   <feature name="Imagezoom">
                       <param name="android-package" value="com.fortsolution.playerplugin.Imagezoom"/>
                   </feature>
               </config-file>-->
       

	  <source-file src="src/android/VideoPlayer.java" target-dir="src/com/fortsolution/playerplugin" />
	  <source-file src="src/android/Imagezoom.java" target-dir="src/com/fortsolution/playerplugin" />
	  <source-file src="src/android/ImageZoomActivity.java" target-dir="src/com/fortsolution/playerplugin" />
	  <source-file src="src/android/ZoomFunctionality.java" target-dir="src/com/fortsolution/playerplugin" />
	               
     </platform>          
</plugin>